
    body {
      font-family: Arial, sans-serif;
      text-align: center;
      background-color: #e6d4f5;
    }

    h1 {
      text-align: center;
      font-size: 40px;
      color: #a054dd;
      background-color: #F2F2F2;
      padding: 20px;
      margin: 0 auto;
      border-radius: 10px;
      box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.3);
    }

    table {
      border-collapse: collapse;
      margin: auto;
      margin-top: 20px;
    }

    td {
      width: 100px;
      height: 100px;
      text-align: center;
      vertical-align: middle;
      font-size: 50px;
      font-weight: bold;
      border: 1px solid black;
      cursor: pointer;
    }

    #scoreboard {
      margin: 50px auto;
      width: 600px;
      height: 150px;
      background-color: #f1f1f1;
      border: 1px solid black;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    #scoreboard h2 {
      font-size: 36px;
      margin: 0;
      padding: 10px;
      flex: 1;
      text-align: center;
    }

    #scoreboard h3 {
      font-size: 72px;
      margin: 0;
      padding: 10px;
      flex: 1;
      text-align: center;
    }

    button {
      font-size: 24px;
      padding: 10px 20px;
      background-color: #a054dd;
      color: white;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      margin: 10px;
    }

    button:hover {
      background-color: #b569f3;
    }
  